.App {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}
body {
  margin: 0%;
  padding: 0%;
}


/* For Chat Container */
.ChatContainer {
  flex-direction: column;
  text-align: center;
}

.ChatContainer h3 {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.ChatContainer input {
  
  border: 2px solid #707070;
  border-radius: 2px;
  padding: 5px;
  font-size: 14px;
  width: 150px;
  height: 20px;
  margin: 7px;
}

.ChatContainer button {
  width: 150px;
  border:#b99e00;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
  background: #f7d200;
  color: #000000;
  height: 40px;
  margin: 7px;

}

.ChatContainer button:hover {
  background: #f39200;
}

/* For Chat Container */


.ChatWindow {
  width: 300px;
  height: 420px;
}

.ChatWindow p {
  margin: 0;
}
.ChatWindow .ChatHeader {
  height: 45px;
  border-radius: 6px;
  background: #ffffff;
  position: relative;
  cursor: pointer;
}
.ChatWindow .ChatHeader p {
  display: block;
  padding: 0 1em 0 2em;
  color: #ce2222;
  font-weight: 700;
  line-height: 45px;
}

.ChatWindow .ChatBody {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;

  position: relative;
}
.ChatWindow .ChatBody .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ChatWindow .ChatBody .message-container::-webkit-scrollbar {
  display: none;
}
.ChatWindow.ChatBody .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.ChatWindow .ChatBody .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.ChatWindow .ChatBody .message .message-meta {
  display: flex;
  font-size: 12px;
}

.ChatWindow .ChatFooter {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.ChatWindow .ChatFooter input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.ChatWindow .ChatFooter button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.ChatWindow .ChatFooter button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}